<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="base_datosEntities" connectionString="metadata=res://*/BuenosAiresEDM.csdl|res://*/BuenosAiresEDM.ssdl|res://*/BuenosAiresEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AOAWSB03LC0932;initial catalog=base_datos;user id=sa;password=123;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IWsAutenticacion" />
    <binding name="BasicHttpBinding_IWsProducto" />
    <binding name="BasicHttpBinding_IWsGuiaDespacho" />
    <binding name="BasicHttpBinding_IWsAnwo" />
    <binding name="BasicHttpBinding_IWsProductoJava" />
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://localhost:54964/WsAutenticacion.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsAutenticacion"
    contract="WsAutenticacionReference.IWsAutenticacion" name="BasicHttpBinding_IWsAutenticacion" />
   <endpoint address="http://localhost:54964/WsProducto.svc" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IWsProducto" contract="WsProductoReference.IWsProducto"
    name="BasicHttpBinding_IWsProducto" />
   <endpoint address="http://localhost:54964/WsGuiaDespacho.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsGuiaDespacho"
    contract="WsConsultaDespachoReference.IWsGuiaDespacho" name="BasicHttpBinding_IWsGuiaDespacho" />
   <endpoint address="http://localhost:54964/WsAnwo.svc" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IWsAnwo" contract="WsObtenerAnwoReference.IWsAnwo"
    name="BasicHttpBinding_IWsAnwo" />
   <endpoint address="http://localhost:54964/WsProductoJava.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsProductoJava"
    contract="WsProductoJavaReference.IWsProductoJava" name="BasicHttpBinding_IWsProductoJava" />
  </client>
	</system.serviceModel>
</configuration>