DJANGO_SECRET_KEY=tu-secret-key-aqui

# SQL Server
DB_NAME=base_datos
DB_USER=sa
DB_PASSWORD=tu-password-aqui
DB_HOST=nombre-de-tu-servidor
DB_PORT=

# Banco Central de Chile API (registrarse en si3.bcentral.cl)
BCENTRAL_API_USER=tu-email@ejemplo.cl
BCENTRAL_API_PASS=tu-password-aqui
